/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/booking.iml
.idea/.name
app/config/config.php
.idea/dictionaries/Brian.xml