# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

web.config
cs-registration/laravel/app/config/config.php
cs-speedscreen/config.js
admin/www/web.config
api/web.config
booking/www/web.config
cs-registration/www/web.config
admin/www/web.config.bak
api/web.config.bak
booking/www/web.config.bak
cs-registration/www/web.config.bak
/assets/
cs-mobilewebapp/js/config.js
facebook/config.js
facebook/node_modules
facebook/db.json

/event-builder/node_modules/
/facebook/node_modules/
/speed-text/node_modules/

cs-printer/config.js

cs-pccharge/node_modules
cs-pccharge/config.json
