/* Core scoreboard styles */

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
}

.scoreboard {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-weight: bolder;
}

/* Disconnected screen */
.disconnected {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.disconnectedTitle {
    font-size: 6vw;
}

/* Loading screen */
.loading {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.loadingTitle {
    font-size: 6vw;
}

/* Next race screen */

.raceComingUp {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.raceComingUpTitle {
    font-size: 6vw;
}

.raceComingUpName {
    font-size: 4vw;
}

.raceComingUpTime {
    font-size: 3vw;
}

/* Waiting for first lap screen */

.waitingForFirstLap {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.waitingForFirstLapTitle {
    font-size: 6vw;
}

/* No races screen */

.noRacesRunning {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.noRacesRunningTitle {
    font-size: 6vw;
}

.raceRunning {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

/* Animations / Special Effects */

/* Handles flashing a row when a racer completes a lap */

@-webkit-keyframes racerFinishedALap {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
@-moz-keyframes racerFinishedALap {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
@-o-keyframes racerFinishedALap {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
@keyframes racerFinishedALap {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
.racerFinishedALap {
    -webkit-animation: racerFinishedALap 1.0s; /* Safari 4+ */
    -moz-animation:    racerFinishedALap 1.0s; /* Fx 5+ */
    -o-animation:      racerFinishedALap 1.0s; /* Opera 12+ */
    animation:         racerFinishedALap 1.0s; /* IE 10+ */
}

/* Smooths width increase for progress bars */

.smoothIncrease {
    -webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 2s; /* Safari */
    transition-property: width;
    transition-duration: 2s;
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
}

/* CSS helpers */

.vertCenterHelper {
    height: 100vh;
    vertical-align: middle;
    display: inline-block;
}

.vertCenter {
    vertical-align: middle;
    display: inline-block;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.ng-cloak {
    display: none !important; /* Prevents AngularJS template from flickering while loading */
}

.shadow {
    -moz-box-shadow:    inset 0 0 10px #434343;
    -webkit-box-shadow: inset 0 0 10px #434343;
    box-shadow:         inset 0 0 10px #434343;
}

.textShadow {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Big (Legible) Theme Styles */

.racerBoxLegible {
    margin: 0px;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    width: 99vw;
    height: 20vh;
    line-height: 20vh;
    background:rgba(22,22,22,0.8);
    text-align: left;
    overflow: hidden;
    font-size: 6vw;
    box-sizing: border-box;
    border: 1px solid #3a3a3a;
}

.racerBoxLegibleHeader {
    margin: 0px;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    width: 99vw;
    height: 10vh;
    line-height: 10vh;
    text-align: left;
    overflow: hidden;
    font-size: 3vw;
    box-sizing: border-box;
    border: 1px solid #3a3a3a;
}

.headerText {
    color: gold;
}

.racerKartPosition {
    width: 8%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.racerName {
    width: 20%;
    height: 100%;
    display: inline-block;
}

.racerKartNumber {
    display: inline-block;
    width: 8%;
    height: 100%;
    text-align: center;
}

.racerFastestLapTime {
    display: inline-block;
    width: 15%;
    height: 100%;
    text-align: center;
}

.gold {
    color: gold;
}

.racerLastLapTime {
    display: inline-block;
    width: 15%;
    height: 100%;
    text-align: center;
}

.racerLapNumber {
    display: inline-block;
    width: 8%;
    height: 100%;
    text-align: center;
}

.racerGap {
    display: inline-block;
    width: 15%;
    height: 100%;
    text-align: center;
}
.positionStatusChange {
    display: inline-block;
    width: 5%;
    height: 100%;
    text-align: center;
    vertical-align: top;
}

/* Classic Theme Styles */

.classicTheme {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

.classicThemeHeader {
    height: 8vh;
    font-size: 6vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.nextRacerTab {
    margin-right: 0.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding: 0.5vw;
    width: 19.5vw;
    height: 75.5vh;
    background:rgba(22,22,22,0.8);
    box-sizing: border-box;
    border: 2px solid white;
    position: absolute;
    top: 8vh;
    left: 80vw;
    overflow: hidden;
}

.nextRacerTabHeader {
    font-size: 1.5vw;
    text-align: center;
}

.nextRacerTabData {
    font-size: 1.5vw;
    color: gold;
    text-align: center;
}

.nextRacerTabRacerHeader {
    font-size: 1.0vw;
}

.nextRacerTabRacerData {
    font-size: 1.0vw;
    color: gold;
}

.racerBoxClassic {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    width: 100vw;
    height: 20vh;
    background:rgba(22,22,22,0.8);
    text-align: left;
    overflow: hidden;
    font-size: 12vh;
    box-sizing: border-box;
    border: 2px solid white;
}

.racerBoxClassicUpper {
    height: 60%;
    margin: 0px;
}

.racerBoxClassicLower {
    height: 40%;
    margin: 0px;
    border-top: 1px solid gray;
}

.racerBoxClassicHeader {
    font-size: 20%;
}

.racerBoxClassicData {
    font-size: 45%;
}

.racerBoxClassicBottom {
    font-size: 40%;
}

.racerBoxClassicHeaderBottom {
    font-size: 15%;
}

.racerBoxClassicDataBottom {
    font-size: 30%;
}

.positionBoxClassic {
    width: 10%;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.racerNameBoxClassic {
    width: 40%;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.kartBoxClassic {
    width: 15%;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.dynamicData {
    color: #ffd200;
}

.lapsBoxClassic {
    width: 15%;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.bestLapBoxClassic {
    width: 20%;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.statusBoxClassic {
    width: 10%;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.positionStatusImage {
    height: 5vh;
    vertical-align: top;
    display: inline-block;
}

.positionStatusImageBig {
    display: inline-block;
    max-width: 4vw;
    vertical-align: middle;
}

.avgLapBoxClassic {
    width: 30%;
    height: 100%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.lastLapBoxClassic {
    width: 30%;
    height: 100%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.gapBoxClassic {
    width: 30%;
    height: 100%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.topTimesBar {
    background:rgba(0,0,0,0.8);
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 99vw;
    height: 13vh;
    border: 2px solid red;
    box-sizing: border-box;
    padding: 1vh;
    padding-top: 1.7vh;
    font-size: 3.2vh;
    vertical-align: top;
}

.topTimesTimeBoxLeft {
    width: 15vw;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.topTimesTimeBoxRight {
    width: 14.5vw;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.topTimesTimeBox {
    width: 15vw;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 1vh;
    margin-right: 1vh;
}

.topTimesNoneBox {
    width: 65vw;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.clubSpeedLogoImage {
    max-width: 13vw;
    max-height: 5vh;
    vertical-align: top;
    margin: 0 auto;
    margin-top: 1vh;
    display: inline-block;
}

.classicThemeHeaderTitle {
    float: left;
    width: 80%
}

.classicThemeHeaderTimer {
    float: right;
}