<div class="jumbotron text-center">

    <div ng-controller="liveScoreboardController" ng-cloak class="ng-cloak">

        <!-- Spinner is only visible if content is loading -->
        <span id="spinner" ng-if="spinnerActive">
            <img width="30" src="images/spinner.gif"><br/>
            {{$root.strings["str_poweredBy"]}} Club Speed
        </span>

        <span class="dataHeader">{{$root.strings["str_liveScoreboard"]}} - {{currentTrackName}}</span><p/>
        <div ng-if="tracks != null" style="margin: 10px;">
            <select class="darkDropdown" ng-model="desiredTrack" ng-change="goToScoreboardTrack(desiredTrack)">
                <option value="">{{$root.strings["str_switchTrack"]}}</option>
                <option ng-repeat="track in tracks" value="{{track.id}}">{{track.name}}</option>
            </select>
        </div>
        <div style="margin: 0 auto; padding-bottom: 5px; font-size: 20px; font-weight: bold;" ng-if="raceRunning"><p/>
            {{race.race_name}}
        </div>

        <table class="table table-condensed" ng-if="raceRunning" style="word-break: normal; font-size: 10pt; width: 100%;">
            <thead>
                <tr>
                    <td style="word-break: normal; background-image: url('images/gradient_bg.png'); background-size: 100% 100%; vertical-align: middle; width: 50px">{{$root.strings["str_pos"]}}</td>
                    <td style="word-break: normal; background-image: url('images/gradient_bg.png'); background-size: 100% 100%; vertical-align: middle;">{{$root.strings["str_racer"]}}</td>
                    <td style="word-break: normal; background-image: url('images/gradient_bg.png'); background-size: 100% 100%; vertical-align: middle; width: 50px">{{$root.strings["str_kart"]}}</td>
                    <td style="word-break: normal; background-image: url('images/gradient_bg.png'); background-size: 100% 100%; vertical-align: middle;">{{$root.strings["str_bestTime"]}}</td>
                    <td class="hidden-xs" style="word-break: normal; background-image: url('images/gradient_bg.png'); background-size: 100% 100%; vertical-align: middle;">{{$root.strings["str_avgTime"]}}</td>
                    <td style="word-break: normal; background-image: url('images/gradient_bg.png'); background-size: 100% 100%; vertical-align: middle;">{{$root.strings["str_lastTime"]}}</td>
                    <td style="word-break: normal; background-image: url('images/gradient_bg.png'); background-size: 100% 100%; vertical-align: middle;">{{$root.strings["str_gap"]}}</td>
                    <td style="word-break: normal; background-image: url('images/gradient_bg.png'); background-size: 100% 100%; vertical-align: middle;">{{$root.strings["str_laps"]}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="racer in currentScoreboard.scoreboardRows" ng-class="{racerJustEnteredRace: racer.racerJustEnteredRace}">
                    <td style="word-break: normal; border-color: #1f1f1f; width: 50px; overflow: hidden; white-space: nowrap;">{{racer.position}}
                        <img src="images/uparrow.png" ng-if="racer.currentState == 'wentUp'" style="height: 10px; vertical-align: baseline;">
                        <img src="images/downarrow.png" ng-if="racer.currentState == 'wentDown'" style="height: 10px; vertical-align: baseline;">
                        <img src="images/noarrow.png" ng-if="racer.currentState != 'wentUp' && racer.currentState != 'wentDown'" style="height: 10px; vertical-align: baseline;">
                    </td>
                    <td style="word-break: normal; border-color: #1f1f1f; max-width: 65px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left">
                        <a href="#racersearch/{{racer.racer_id}}">{{racer.nickname}}</a></td>
                    <td style="word-break: normal; border-color: #1f1f1f; width: 50px">{{racer.kart_num}}</td>
                    <td ng-class="{fastestOverall: racer.currentState_Speed == 'fastestOverall',racerGotABetterTime: racer.racerGotABetterTime == '1'}" style="word-break: normal; border-color: #1f1f1f">{{racer.fastest_lap_time | formatLapTime}}</td>
                    <td class="hidden-xs" style="word-break: normal; border-color: #1f1f1f">{{racer.average_lap_time | formatLapTime}}</td>
                    <td ng-class="{racerFinishedALap: racer.racerFinishedALap}" style="word-break: normal; border-color: #1f1f1f">{{racer.last_lap_time | formatLapTime}}</td>
                    <td style="word-break: normal; border-color: #1f1f1f">{{racer.gap}}</td>
                    <td ng-class="{racerFinishedALap: racer.racerFinishedALap}" style="word-break: normal; border-color: #1f1f1f">{{racer.lap_num}}</td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>

        <div ng-if="raceRunning == 0">
            {{$root.strings["str_noRaceRunning"]}} <p/><p/>
            {{$root.strings["str_willAutoUpdate"]}}
        </div>
    </div>

</div>



