<!-- This page displays a text input field which allows for a racer to be seached for.
After typing three characters, a search is automatically executed for the racer.
If this URL is visited with a racerID as a parameter, the page will instead load
the racer's profile information. -->

<div class="jumbotron text-center">
	<div ng-controller="racerSearchController" class="ng-cloak" ng-cloak>
	
	<h4 style="margin-top: 2px;" ng-if="tableType !== 'racerInfoTable'">{{$root.strings["str_racerSearch"]}}</h4>

    <!-- Begin racer search input field -->
	<form role="form">
		<div class="form-group">
			<input type="text" class="form-control" id="racerSearchInput" placeholder="{{$root.strings['str_searchForRacer']}}" ng-if="tableType !== 'racerInfoTable'" ng-keyup="searchForRacer()">
		</div>
	</form>
    <!-- End racer search input field -->

    <!-- Spinner is only visible if content is loading -->
	<span id="spinner" ng-if="spinnerActive">
        <img width="30" src="images/spinner.gif"><br/>
        {{$root.strings["str_poweredBy"]}} Club Speed
        <p/>
    </span>

    <!-- Begin racer search results -->
    <div ng-if="tableType !== 'racerInfoTable' && spinnerActive==0">
        <span class="dataHeader">Search Results</span>
        <div class="dataWrapper" ng-repeat="racer in jsonDataRacers.racers">
            <table class="dataTable">
                <tr ng-click="goToRacer(racer.id)">
                    <td>
                        <span class="dataSubHeader">{{racer.name.first}} {{racer.name.last}}</span><br/>
                        {{racer.name.nickname}}<br/>
                        {{$root.strings["str_joined"]}} {{racer.created_at}}<br/>
                    </td>
                    <td class="dataHighlightCell">
                        <span class="dataSubHeader">{{$root.strings["str_ProSkill"]}}</span><br/>
                        <span class="dataHighlightSmall">{{racer.rpm}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- End racer search results -->

    <!-- Begin racer profile page -->
    <div ng-if="tableType == 'racerInfoTable' && spinnerActive==0" class="racerProfile">
        <div class="racerProfileHeader">
            <img src="images/defaultProfilePic.jpg" class="racerProfilePic">
            <span class="racerProfileName">{{jsonData.racer.name.first}} {{jsonData.racer.name.last}}</span><br/>
            {{$root.strings["str_nickname"]}}: {{jsonData.racer.name.nickname}}<p/>
            {{$root.strings["str_joined"]}} <span>{{jsonData.racer.created_at}}</span>
        </div>
        <div>
            <table class="table-hover racerProfileSummaryTable">
                <thead>
                    <tr>
                        <td>{{$root.strings["str_ProSkill"]}}</td>
                        <td>{{$root.strings["str_Visits"]}}</td>
                        <td>{{$root.strings["str_Races"]}}</td>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{jsonData.racer.rpm}}</td>
                    <td>{{jsonData.racer.visits}}</td>
                    <td>{{jsonData.racer.races}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <span class="dataHeader">{{$root.strings["str_racingHistory"]}}</span>
            <div class="dataWrapper" ng-repeat="heat in jsonDataHeats.heats | orderObjectBy:'id':true">
                    <table class="dataTable">
                        <tr ng-click="go(heat.id)">
                            <td>
                                <span class="dataSubHeader">{{heat.heat_name}}</span><br/>
                                {{$root.strings["str_track"]}} {{heat.track_name}}<br/>
                                <span>{{heat.starts_at}}</span><br/>
                            </td>
                            <td class="dataHighlightCell">
                                <span class="dataSubHeader">{{$root.strings["str_position"]}}</span><br/>
                                <span class="dataHighlightSmall">{{heat.finish_position}}</span>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
    <!-- End racer profile page -->

	</div>
	
</div>



