/* Core Speed Screen structure */

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
}

.speedscreen {

}

/* Image slides */

.imageSlide {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 4vw;
    background-color: black;
}

.imageSlideImage {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

/* URL slides */

.urlSlide {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 4vw;
    overflow: hidden;
    background-color: black;
}

.urlSlideContent {
    width: 100vw;
    height: 100vh;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

/* Loading screen */

.loadingScreen {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    border: 10px solid #ce2127;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
}

.diagnosticsScreen {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    border: 10px solid #ce2127;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
}

.loadingScreenImage {
    width: 50vw;
}

.loadingScreenHeader {
    font-size: 4vw;
}

.loadingScreenSubHeader {
    font-size: 2vw;
    font-style: italic;
    color: #adadad;
}

.loadingScreenRestartMessage {
    font-size: 2vw;
    color: #ce2127;
}

@-webkit-keyframes flash {
    0% { color: #000000; }
    50% { color: #ce2127 }
    100% { color: #000000 }
}

.flash {
    -webkit-animation-name: flash;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 3s;
}

/* CSS helpers */

.vertCenterHelper {
    height: 100vh;
    vertical-align: middle;
    display: inline-block;
}

.vertCenter {
    vertical-align: middle;
    display: inline-block;
}

/* Debugging classes */

.debugPanel {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    padding: 10px;
    z-index: 1000;
    width: 100%;
    font-size: 2vw;
    border-bottom: 3px solid #ce2127;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.60);
    color: white;
    font-family: 'Noto Sans';
}

.diagnostics {
    font-weight: bold;
    font-size: 2vw;
    margin-top: 20px;
}

.good {
    color: #1daa21;
}

.bad {
    color: #ce2127;
}