<div class="scoreboard ng-cloak" ng-controller="scoreboardController" ng-cloak>

    <!-- Disconnected -->
    <div class="loading" ng-if="scoreboardState == 'disconnected'" ng-style="{{backgroundImage}}">
        <span class="vertCenterHelper"></span>
        <div class="disconnectedTitle vertCenter textShadow">
            {{strings["str_disconnected"]}}<br/>
            {{strings["str_reconnecting"]}}
        </div>
    </div>

    <!-- Loading -->
    <div class="loading" ng-if="scoreboardState == 'loading'" ng-style="{{backgroundImage}}">
        <span class="vertCenterHelper"></span>
        <div class="loadingTitle vertCenter textShadow">
            {{strings["str_loading"]}}<img src="images/cs_logo_symbol_transparent.png" style="width: 10vw;" class="vertCenter">
        </div>
    </div>

    <!-- No races running -->
    <div class="noRacesRunning" ng-if="scoreboardState == 'no_races'" ng-style="{{backgroundImage}}">
        <span class="vertCenterHelper"></span>
        <div class="noRacesRunningTitle vertCenter textShadow">
            {{strings["str_waitingForNextRace"]}}
        </div>
    </div>

    <!-- Waiting for first lap -->
    <div class="waitingForFirstLap" ng-if="scoreboardState == 'waiting_for_first_lap'" ng-style="{{backgroundImage}}">
        <span class="vertCenterHelper"></span>
        <div class="waitingForFirstLapTitle vertCenter textShadow">
            {{strings["str_waitingForFirstLap"]}}
        </div>
    </div>

    <!-- Race running and last results - High Legibility Theme -->

    <!-- Header -->
    <div class="racerBoxLegibleHeader" style="border: 0px; padding: 5px;" ng-if="theme == 'big' && bigThemeHeaderEnabled && (scoreboardState == 'race_running' || scoreboardState == 'last_results')"
         ng-style="{'width': racerBoxWidth + 'vw'}">
        <div class="classicThemeHeaderTitle ellipsis">{{race.race.race_name}}
            <span ng-if="showHeatNumber && showSequenceNumber"> - #{{race.race.id | formatHeatNumber}}</span>
            <span ng-if="showHeatNumber && !showSequenceNumber"> - #{{race.race.id}}</span>
            <span ng-if="showHeatTime"> - {{race.race.starts_at.split(" ")[1].substring(0,5)}}</span>
            <span ng-if="scoreboardState == 'last_results'"> - {{strings["str_finalResults"]}}</span></div>
        <div class="classicThemeHeaderTimer"><span ng-if="scoreboardState != 'last_results' && (showHeaderTimer || race.race.race_by == 'laps')">{{headerTimer}}</span></div>
    </div>

    <!-- Scoreboard labels -->
    <div class="racerBoxLegible"  ng-if="theme == 'big' && bigThemeHeaderEnabled && (scoreboardState == 'race_running' || scoreboardState == 'last_results')"
         ng-style="{'width': racerBoxWidth + 'vw', 'height': racerBoxHeaderHeight + 'vh', 'font-size': racerBoxFontSize + 'vw', 'line-height': racerBoxHeaderHeight + 'vh'}">
                <span class="positionStatusChange">
                    <img src="images/noarrow.png" class="positionStatusImageBig" ng-style="{'max-height': racerBoxHeight/2 + 'vh', 'line-height': racerBoxHeight/2 + 'vh'}">
                </span>
                <span class="racerKartPosition headerText ellipsis" ng-style="{{textLabelsColorStyle}}">
                    {{strings["str_position_big"]}}
                </span>
                <span class="racerName headerText ellipsis" style="text-align: center" ng-style="{{textLabelsColorStyle}}">
                    {{strings["str_name_big"]}}
                </span>
                <span class="racerKartNumber headerText ellipsis" ng-style="{{textLabelsColorStyle}}">
                    {{strings["str_kart_big"]}}
                </span>
                <span class="racerFastestLapTime headerText ellipsis" ng-style="{{textLabelsColorStyle}}">
                    {{strings["str_bestLap_big"]}}
                </span>
                <span class="racerLastLapTime headerText ellipsis" ng-class="{'racerFinishedALap': (racer.racerLapNumberIncreased)}" ng-style="{{textLabelsColorStyle}}">
                    {{strings["str_lastLap_big"]}}
                </span>
                <span class="racerGap headerText ellipsis" ng-class="{'racerFinishedALap': (racer.racerLapNumberIncreased)}" ng-style="{{textLabelsColorStyle}}">
                    {{strings["str_gap_big"]}}
                </span>
                <span class="racerLapNumber headerText ellipsis" ng-class="{'racerFinishedALap': (racer.racerLapNumberIncreased)}" ng-style="{{textLabelsColorStyle}}">
                    {{strings["str_laps_big"]}}
                </span>
    </div>

    <!-- Scoreboard -->
    <div class="raceRunning" ng-if="theme == 'big'" style="background-color: black">
        <div class="racerBox racerBoxLegible" ng-if="scoreboardState == 'race_running' || scoreboardState == 'last_results'"
             ng-repeat="racer in racers"
             ng-style="{'width': racerBoxWidth + 'vw', 'height': racerBoxHeight + 'vh', 'font-size': racerBoxFontSize + 'vw', 'line-height': racerBoxHeight + 'vh'}"
             >

            <div class="position" style="display: none">
                {{racer.position}}
            </div>
                <span class="positionStatusChange">
                    <div ng-if="racer.positionStatus == 'neutral'"><img src="images/noarrow.png" class="positionStatusImageBig" ng-style="{'max-height': racerBoxHeight + 'vh', 'line-height': racerBoxHeight + 'vh'}"></div>
                    <div ng-if="racer.positionStatus == 'wentUp'"><img src="images/uparrow.png" class="positionStatusImageBig" ng-style="{'max-height': racerBoxHeight + 'vh', 'line-height': racerBoxHeight + 'vh'}"></div>
                    <div ng-if="racer.positionStatus == 'wentDown'"><img src="images/downarrow.png" class="positionStatusImageBig" ng-style="{'max-height': racerBoxHeight + 'vh', 'line-height': racerBoxHeight + 'vh'}"></div>
                </span>
                <span class="racerKartPosition ellipsis" ng-style="{{textDataColorStyle}}">
                    {{racer.position}}
                </span>
                <span class="racerName ellipsis">
                    {{racer.nickname | uppercase}}
                </span>
                <span class="racerKartNumber ellipsis" ng-style="{{textDataColorStyle}}">
                    {{racer.kart_num}}
                </span>
                    <span class="racerFastestLapTime ellipsis"  ng-if="racer.lap_num != 0 && !racer.isFastest" ng-style="{{textDataColorStyle}}">
                        {{racer.fastest_lap_time}}
                    </span>
                    <span class="racerFastestLapTime ellipsis"  ng-if="racer.lap_num != 0 && racer.isFastest" ng-style="{{fastestRacerStyle}}">
                        {{racer.fastest_lap_time}}
                    </span>
                <span class="racerLastLapTime ellipsis" ng-class="{'racerFinishedALap': (racer.racerLapNumberIncreased)}" ng-style="{{textDataColorStyle}}">
                    {{racer.last_lap_time}}
                </span>
                <span class="racerGap ellipsis" ng-class="{'racerFinishedALap': (racer.racerLapNumberIncreased)}" ng-style="{{textDataColorStyle}}">
                    {{racer.gap == ".000" ? '-' : racer.gap }}
                </span>
                <span class="racerLapNumber ellipsis" ng-class="{'racerFinishedALap': (racer.racerLapNumberIncreased)}" ng-style="{{textDataColorStyle}}">
                    {{racer.lap_num}}
                </span>
        </div>
    </div>

    <!-- Race running and last results - Classic Theme -->
    <div class="classicTheme" ng-if="theme == 'classic'" ng-style="{{backgroundImage}}" >
        <!-- Header -->
        <div class="classicThemeHeader" ng-if="classicThemeHeaderEnabled">
            <div class="classicThemeHeaderTitle ellipsis">{{race.race.race_name}}
                <span ng-if="showHeatNumber && showSequenceNumber"> - #{{race.race.id | formatHeatNumber}}</span>
                <span ng-if="showHeatNumber && !showSequenceNumber"> - #{{race.race.id}}</span>
                <span ng-if="showHeatTime"> - {{race.race.starts_at.split(" ")[1].substring(0,5)}}</span>
                <span ng-if="scoreboardState == 'last_results'"> - {{strings["str_finalResults"]}}</span></div>
            <div class="classicThemeHeaderTimer"><span ng-if="scoreboardState != 'last_results' && (showHeaderTimer || race.race.race_by == 'laps')">{{headerTimer}}</span></div>
        </div>
        <!-- Scoreboard -->
        <div class="raceRunning"
             ng-style="{'width': raceRunningClassicWidth + 'vw', 'height': raceRunningClassicHeight + 'vh'}">
            <div ng-repeat="racer in racers" class="racerBox racerBoxClassic shadow"
                 ng-style="{'width': racerBoxClassicWidth + 'vw', 'height': racerBoxClassicHeight + 'vh', 'font-size' : racerBoxClassicFontSize + 'vh'}">
                <div ng-if="showLapEstimation" style="position: relative;">
                    <div class="smoothIncrease" style="position: absolute; top: 0px; left: 0px; z-index: 1; background-color:rgba(255,255,255,0.1);" ng-style="{'height': racerBoxClassicHeight + 'vh', 'width': racer.timeSinceLastPassing/1000/(racer.average_lap_time-2)*100 + '%'}">
                    </div>
                </div>
                <div class="racerBoxClassicUpper">
                    <div class="positionBoxClassic">
                        <div class="racerBoxClassicHeader" ng-style="{{textLabelsColorStyle}}">{{strings["str_position_classic"]}}</div>
                        <div class="racerBoxClassicData dynamicData ellipsis" ng-class="{'racerBoxClassicData_RacerTab': (adjustLineHeights)}" ng-style="{{textDataColorStyle}}">{{racer.position}}</div>
                    </div><div class="racerNameBoxClassic">
                        <div class="racerBoxClassicHeader" style="text-align: left" ng-style="{{textLabelsColorStyle}}">{{strings["str_name_classic"]}}</div>
                        <div class="racerBoxClassicData ellipsis" ng-class="{'racerBoxClassicData_RacerTab': (adjustLineHeights)}" style="text-align: left">{{racer.nickname}}</div>
                    </div><div class="kartBoxClassic">
                        <div class="racerBoxClassicHeader" ng-style="{{textLabelsColorStyle}}">{{strings["str_kart_classic"]}}</div>
                        <div class="racerBoxClassicData dynamicData ellipsis" ng-class="{'racerBoxClassicData_RacerTab': (adjustLineHeights)}" ng-style="{{textDataColorStyle}}">{{racer.kart_num}}</div>
                    </div><div class="lapsBoxClassic">
                        <div class="racerBoxClassicHeader" ng-style="{{textLabelsColorStyle}}">{{strings["str_laps_classic"]}}</div>
                        <div class="racerBoxClassicData dynamicData ellipsis" ng-class="{'racerBoxClassicData_RacerTab': (adjustLineHeights)}" ng-class="{'racerFinishedALap': (racer.racerLapNumberIncreased)}" ng-style="{{textDataColorStyle}}">{{racer.lap_num}}</div>
                    </div><div class="bestLapBoxClassic">
                        <div class="racerBoxClassicHeader" ng-style="{{textLabelsColorStyle}}">{{strings["str_bestLap_classic"]}}</div>
                        <div class="racerBoxClassicData dynamicData ellipsis" ng-class="{'racerBoxClassicData_RacerTab': (adjustLineHeights)}" ng-if="racer.lap_num != 0 && !racer.isFastest" ng-style="{{textDataColorStyle}}">{{racer.fastest_lap_time}}</div>
                        <div class="racerBoxClassicData dynamicData ellipsis" ng-class="{'racerBoxClassicData_RacerTab': (adjustLineHeights)}" ng-if="racer.lap_num != 0 && racer.isFastest" ng-style="{{fastestRacerStyle}}">{{racer.fastest_lap_time}}</div>

                </div>
                </div>
                <div class="racerBoxClassicLower">
                        <div class="statusBoxClassic">
                            <div ng-if="racer.positionStatus == 'neutral'"><img src="images/noarrow.png" class="positionStatusImage" ng-style="{'max-height': racerBoxClassicHeight*0.35 + 'vh', 'line-height': racerBoxClassicHeight*0.35 + 'vh'}"></div>
                            <div ng-if="racer.positionStatus == 'wentUp'"><img src="images/uparrow.png" class="positionStatusImage" ng-style="{'max-height': racerBoxClassicHeight*0.35 + 'vh', 'line-height': racerBoxClassicHeight*0.35 + 'vh'}"></div>
                            <div ng-if="racer.positionStatus == 'wentDown'"><img src="images/downarrow.png" class="positionStatusImage" ng-style="{'max-height': racerBoxClassicHeight*0.35 + 'vh', 'line-height': racerBoxClassicHeight*0.35 + 'vh'}"></div>
                        </div><div class="avgLapBoxClassic">
                            <div class="racerBoxClassicBottom" ng-class="{'racerBoxClassicBottom_RacerTab': (adjustLineHeights)}" ng-style="{{textLabelsColorStyle}}">{{strings["str_avgLap_classic"]}}
                                <span class="dynamicData ellipsis" ng-class="{'racerFinishedALap': (racer.racerLapNumberIncreased)}" ng-style="{{textDataColorStyle}}">{{racer.average_lap_time}}</span>
                            </div>
                        </div><div class="lastLapBoxClassic">
                            <div class="racerBoxClassicBottom" ng-class="{'racerBoxClassicBottom_RacerTab': (adjustLineHeights)}" ng-style="{{textLabelsColorStyle}}">{{strings["str_lastLap_classic"]}}
                                <span class="dynamicData ellipsis" ng-class="{'racerFinishedALap': (racer.racerLapNumberIncreased)}" ng-style="{{textDataColorStyle}}">{{racer.last_lap_time}}</span>
                            </div>
                        </div><div class="gapBoxClassic">
                            <div class="racerBoxClassicBottom" ng-class="{'racerBoxClassicBottom_RacerTab': (adjustLineHeights)}" ng-style="{{textLabelsColorStyle}}">{{strings["str_gap_classic"]}}
                                <span class="dynamicData ellipsis" ng-class="{'racerFinishedALap': (racer.racerLapNumberIncreased)}" ng-style="{{textDataColorStyle}}">{{racer.gap == ".000" ? '-' : racer.gap }}</span>
                            </div>
                        </div>
                </div>
                <div class="position" style="display: none">{{racer.position}}</div>
            </div>
        </div>

        <!-- Next Racer Tab -->
        <div class="nextRacerTab" ng-if="nextRaceDetails != null && nextRacerReady && theme == 'classic' && (scoreboardState == 'race_running' || scoreboardState == 'last_results')">
            <div class="nextRacerTabHeader" ng-style="{{textLabelsColorStyle}}">{{strings["str_comingUpNext"]}}</div>
            <div class="nextRacerTabData ellipsis" ng-style="{{textDataColorStyle}}">{{nextRaceDetails.race_name}}</div>

            <p/>

            <span ng-if="showHeatNumber">
                <div class="nextRacerTabHeader" ng-style="{{textLabelsColorStyle}}">{{strings["str_heatNumber"]}}</div>
                <div class="nextRacerTabData ellipsis" ng-if="showSequenceNumber" ng-style="{{textDataColorStyle}}">#{{nextRaceDetails.id | formatHeatNumber}}</div>
                <div class="nextRacerTabData ellipsis" ng-if="!showSequenceNumber" ng-style="{{textDataColorStyle}}">#{{nextRaceDetails.id}}</div>
            </span>
            <span ng-if="showHeatTime">
                <div class="nextRacerTabHeader" ng-style="{{textLabelsColorStyle}}">{{strings["str_startTime"]}}</div>
                <div class="nextRacerTabData ellipsis" ng-style="{{textDataColorStyle}}">{{nextRaceDetails.starts_at.split(" ")[1].substring(0,5)}}</div>
            </span>

            <p/>

            <div class="nextRacerTabHeader" ng-style="{{textLabelsColorStyle}}">{{strings["str_gridLineup"]}}</div>
            <div ng-if="nextRaceDetails.racers.length == 0">
                <div class="nextRacerTabData ellipsis" ng-style="{{textDataColorStyle}}">{{strings["str_noRacersYet"]}}</div>
            </div>
            <div ng-if="nextRaceDetails.racers.length > 0">
                <table style="border: 0px; width: 100%; padding: 0.5vw; text-align: left; table-layout:fixed;">
                    <thead>
                        <tr>
                            <th class="nextRacerTabRacerHeader" style="width: 3vw;" ng-style="{{textLabelsColorStyle}}">#</th>
                            <th class="nextRacerTabRacerHeader" ng-style="{{textLabelsColorStyle}}">{{strings["str_racerName"]}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="racer in nextRaceDetails.racers">
                            <td class="nextRacerTabRacerData" ng-style="{{textDataColorStyle}}">{{racer.start_position}}</td>
                            <td class="nextRacerTabRacerData ellipsis" style="display:block;" ng-style="{{textDataColorStyle}}">{{racer.nickname}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Top Times Bar -->
        <div class="topTimesBar" ng-if="classicThemeTopTimesEnabled">
            <div class="topTimesTimeBoxLeft">
                {{strings["str_topTimes"]}}<br/>{{fastestTimeLabel}}
            </div>

            <div ng-repeat="fastestTime in fastestTimesThisWeek" class="topTimesTimeBox">
                <div class="ellipsis">{{fastestTime.nickname}}</div>
                <div class="dynamicData" ng-style="{{textDataColorStyle}}">{{fastestTime.lap_time | number:3}}</div>
            </div>

            <div class="topTimesNoneBox" ng-if="fastestTimesThisWeek.length == 0">
                {{strings["str_noneYet"]}}
            </div>

            <div class="topTimesTimeBoxRight">
                <div style="font-weight: bold; font-style: italic">{{strings["str_poweredBy"]}}</div>
                <div><img src="images/clubspeed_logo.png" class="clubSpeedLogoImage"></div>
            </div>
        </div>
    </div>


</div>