.paymentReportBox {
    height: 150px;
    padding-top: 20px;
}

.wideInput {
    width: 100%;
}

#setCultureButton {
    display: none;
    margin-left: 10px;
}

.select2-container /* Fixes a CSS bug endemic to Select2 */
{
    padding: 0px;
    height: auto;
    min-height: 34px;
}

.ul.select2-choices /* Fixes a CSS bug endemic to Select2 */
{
    border: 0;
}

.tip {
    cursor: pointer;
}

.table-mini {
    font-size: 10px;
}

.translationsBox {
    display: none;
}

.translationsBox_scoreboard {
    display: none;
}

.inline-dl dt, dd {
  display: block;
  float: left;
}

.inline-dl dt {
  clear: left;
}

@-webkit-keyframes webkitflashingStroke {
  from {
    background-color: hsl(180,50%,80%);
  }
  50% {
    background-color: hsl(120,80%,80%);
  }
  to {
    background-color: hsl(180,50%,80%);
  }
}

@keyframes flashingStroke {
  from {
    background-color: hsl(180,50%,80%);
  }
  50% {
    background-color: hsl(120,80%,80%);
  }
  to {
    background-color: hsl(180,50%,80%);
  }
}

.flashing {
  -webkit-animation-name: webkitflashingStroke;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: flashingStroke;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
