html, body {
	color: #ffffff;
	background-color: #333333;
    margin:0px;
    padding:0px;
}

.jumbotron {
	background-color: #333333;
	margin-top: 50px;
	margin-bottom: 100px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	line-height: 1.1;
	font-size: 12pt;
}

.navbar-default {
	color: #ffffff;
	background-color: #000000;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-color: #999999;
	position: fixed;
}

.page-header {
  padding-bottom: 9px;
  margin: 0px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.fixfixed  {
    display: none;
	position: absolute;
	top:-1000px;
	left:-1000px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
    overflow: hidden;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
  
.btn-default {
	color: #ffffff;
	/*background-image: url('../images/button_background_60.png');*/
	background-color: #000000;
	border-top: 0;
	border-color: #222222;
	height: 60px;
	font-size: 80%;
	padding-left: 0px;
	padding-right: 0px;
    margin: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #FF0000;
  background-color: #000000;
  border-color: #111111;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: url('../images/button_background_60.png');
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #FF0000;
}

.table, .table-responsive {
 background-color: #000000;
 margin: auto;
    width: 95%;
    word-break: break-all;
}
.tableHeader
{
    word-break: keep-all;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  font-size: 10pt;
}

.dropdown-menu {
	color: #FFFFFF;
	background-color: #000000;
	width: 120px;
	font-size: 80%;
	min-width: 120px;
	
}

.dropdown-menu-racerfilter {
	color: #FFFFFF;
	background-color: #000000;
	width: 120px;
	font-size: 80%;
}

.dropdown-menu > li > a {
	color: #FFFFFF;
	background-color: #000000;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #000000;
	background-color: #FF0000;
}

table.sortable thead {
    cursor: pointer;
}

#racerSearchInput {
	font-size: 16px;
}

.form-control {
	height: 50px;
	font-size: 33px;
	color: #888888;
	width: 300px;
	margin: auto;
}

.navbar-brand {
  float: left;
  padding: 0px;
  padding-right: 20px;
  font-size: 18px;
}

/* Race Summary Styles */

.raceSummary {
    width: 300px;
    margin: auto;
}

.raceSummaryTitle{
    font-size: 28px;
    font-weight: bold;
}

.raceSummaryHeader{
    background-color: #1f1f1f;
    width: 300px;
    margin: 5px auto;
    padding: 5px;
    text-align: left;
    font-size: 16px;
    text-align: center;
}

/* Racer Profile Styles */

.racerProfile {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
}
.racerProfilePic{
    float: left;
}

.racerProfileName{
    font-size: 24px;
    font-weight: bold;
}

.racerProfileHeader{
    overflow: auto;
    width: 300px;
    margin: auto;
}
.racerProfileSummaryTable tr{
    margin: 5px auto;
    padding: 5px;
    width: 300px;
    background-color: transparent;
}

.racerProfileSummaryTable td{
    margin: 5px auto;
    padding: 5px;
    width: 300px;
    background-color: transparent;
}

.racerProfileSummaryTable th{
    margin: 5px auto;
    padding: 5px;
    width: 300px;
    background-color: transparent;
}

.racerProfileSummaryTable thead{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px white solid;
}


.liveTimingWrapper {
    background-color: #1f1f1f;
    width: 90%;
    min-width: 300px;
    max-width: 600px;
    margin: 5px auto;
    text-align: left;
    font-size: 12px;
    border: 2px solid dimgray;
}

.liveTimingRow {
    background-color: #1f1f1f;
    text-align: left;
    font-size: 14px;
    margin: 2px auto;
    border: 1px #dcdcdc solid;

}

.liveTimingCell {
    border: 1px gold solid;
}

.fastestOverall {
    color: #cb00cc;
}

/*
.neutral {
    background-color: #1f1f1f;
}
*/

.liveScoreboardTable td {
    padding: 2px;
    background-color: #000000;
    border-bottom: 1px solid #1d1d1d;
}

.wentUp {
    background-color: #007e0a;
}

.wentDown {
    background-color: #7e0100;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #1f1f1f;
}

.dataHeader {
    font-size: 24px;
    font-weight: bold;
}

.dataSubHeaderSmall {
    font-size: 18px;
}
.dataWrapper {
    background-color: #1f1f1f;
    width: 90%;
    min-width: 300px;
    max-width: 600px;
    margin: 5px auto;
    padding: 5px;
    padding-right: 0px;
    text-align: left;
    font-size: 16px;
}
.dataWrapper:hover
{
    background-color:#FF0000;
    cursor: pointer;
}

.dataWrapperError {
    background-color: #1f1f1f;
    width: 90%;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    padding-top: 16px;
    text-align: center;
    font-size: 16px;
}

.dataTable {
    width: 100%;
}

.dataSubHeader {
    font-weight: bold;
}

.dataHighlightCell {
    padding-right: 0px;
    float: right;
    text-align: center;
    vertical-align: top;
    margin: auto;
    width: 100px;
}
.dataHighlightSmall {
    color: gold;
    font-size: 24pt;
}

.dataHighlight {
    color: gold;
    font-size: 18pt;
}

/* Fixes bottom footer changing size after loading live data */

html {
  width: auto !important;
  overflow-x: hidden !important;
}
body {
  width: auto !important;
  overflow-x: hidden !important;
}

/* Responsive styles */

@media (max-width: 768px)
{
    .homeCarousel {
        width: 320px; margin: auto;
    }

}
@media (min-width: 769px)
{
    .homeCarousel {
        width: 640px; margin: auto;
    }
}

@media (max-width: 768px)
{
    .lapTimeChart {
        width: 300px; margin: auto;
    }

}
@media (min-width: 769px)
{
    .lapTimeChart {
        width: 600px;
        height: 400px;
        margin: 0 auto;
        padding: 0;
    }
}

/* Handles flashing a row when a racer completes a lap */

@-webkit-keyframes racerFinishedALap {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
@-moz-keyframes racerFinishedALap {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
@-o-keyframes racerFinishedALap {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
@keyframes racerFinishedALap {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
.racerFinishedALap {
    -webkit-animation: racerFinishedALap 2s; /* Safari 4+ */
    -moz-animation:    racerFinishedALap 2s; /* Fx 5+ */
    -o-animation:      racerFinishedALap 2s; /* Opera 12+ */
    animation:         racerFinishedALap 2s; /* IE 10+ */
}

/* Handles flashing a row when a racer beats their previous best time */

@-webkit-keyframes racerGotABetterTime {
    from { background-color: #cb00cc; }
    to { background-color: inherit; }
}
@-moz-keyframes racerGotABetterTime {
    from { background-color: #cb00cc; }
    to { background-color: inherit; }
}
@-o-keyframes racerGotABetterTime {
    from { background-color: #cb00cc; }
    to { background-color: inherit; }
}
@keyframes racerGotABetterTime {
    from { background-color: #cb00cc; }
    to { background-color: inherit; }
}
.racerGotABetterTime {
    -webkit-animation: racerGotABetterTime 2s; /* Safari 4+ */
    -moz-animation:    racerGotABetterTime 2s; /* Fx 5+ */
    -o-animation:      racerGotABetterTime 2s; /* Opera 12+ */
    animation:         racerGotABetterTime 2s; /* IE 10+ */
}

/* Handles flashing a row when a racer first enters the race */

@-webkit-keyframes racerJustEnteredRace {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
@-moz-keyframes racerJustEnteredRace {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
@-o-keyframes racerJustEnteredRace {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
@keyframes racerJustEnteredRace {
    from { background-color: #FFD700; }
    to { background-color: inherit; }
}
.racerJustEnteredRace {
    -webkit-animation: racerJustEnteredRace 2s; /* Safari 4+ */
    -moz-animation:    racerJustEnteredRace 2s; /* Fx 5+ */
    -o-animation:      racerJustEnteredRace 2s; /* Opera 12+ */
    animation:         racerJustEnteredRace 2s; /* IE 10+ */
}

.darkDropdown {
    color: white; background-color: black;
}