<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add name="php-5.3.28" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.3\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="rules-Integrated" path="*.rules" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode" />
            <add name="xoml-Integrated" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode" />
            <add name="svc-Integrated" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode" />
            <add name="ISAPI-dll" path="*.dll" verb="*" modules="IsapiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="TraceHandler-Integrated" path="trace.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TraceHandler" preCondition="integratedMode" />
            <add name="WebAdminHandler-Integrated" path="WebAdmin.axd" verb="GET,DEBUG" type="System.Web.Handlers.WebAdminHandler" preCondition="integratedMode" />
            <add name="AssemblyResourceLoader-Integrated" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode" />
            <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode" />
            <add name="SimpleHandlerFactory-Integrated" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode" />
            <add name="WebServiceHandlerFactory-Integrated" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="integratedMode" />
            <add name="HttpRemotingHandlerFactory-rem-Integrated" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode" />
            <add name="HttpRemotingHandlerFactory-soap-Integrated" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode" />
            <add name="ASPClassic" path="*.asp" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
            <add name="SecurityCertificate" path="*.cer" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
            <add name="AboMapperCustom-61183" path="*.cdx" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\WINDOWS\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61184" path="*.asa" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\WINDOWS\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61185" path="*.idc" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\WINDOWS\system32\inetsrv\httpodbc.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61186" path="*.shtm" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\system32\inetsrv\ssinc.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61187" path="*.shtml" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\system32\inetsrv\ssinc.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61188" path="*.stm" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\system32\inetsrv\ssinc.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61189" path="*.asax" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61190" path="*.ascx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="SimpleHandlerFactory-ISAPI-2.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="WebServiceHandlerFactory-ISAPI-2.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="AXD-ISAPI-2.0" path="*.axd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="AboMapperCustom-61191" path="*.vsdisco" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" path="*.rem" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" path="*.soap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="AboMapperCustom-61192" path="*.config" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61193" path="*.cs" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61194" path="*.csproj" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61195" path="*.vb" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61196" path="*.vbproj" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61197" path="*.webinfo" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61198" path="*.licx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61199" path="*.resx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61200" path="*.resources" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61201" path="*.master" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61202" path="*.skin" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61203" path="*.compiled" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61204" path="*.browser" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61205" path="*.mdb" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61206" path="*.jsl" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61207" path="*.vjsproj" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61208" path="*.sitemap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61209" path="*.msgx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61210" path="*.ad" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61211" path="*.dd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61212" path="*.ldd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61213" path="*.sd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61214" path="*.cd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61215" path="*.adprototype" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61216" path="*.lddprototype" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61217" path="*.sdm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61218" path="*.sdmDocument" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61219" path="*.ldb" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="svc-ISAPI-2.0" path="*.svc" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
            <add name="AboMapperCustom-61220" path="*.mdf" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61221" path="*.ldf" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61222" path="*.java" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61223" path="*.exclude" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-61224" path="*.refresh" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="TRACEVerbHandler" path="*" verb="TRACE" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
